/* Here are my own homegrown styles - Bonnie L. Hoffman bonnieho@rice.edu */

* {
	border: 0;
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
} 

body {
	/* having this here supposedly breaks the sticky footer - height: 100%; */
	/* position: relative; */
	min-height: 100%; 
	margin: 0 0 0 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	line-height: 150%;
	/* instructions ask for this color, but I think that #999 is closer  - color: #777; */
	color: #999;
	background-color: #fff;
	background-image: url(../images/concrete_seamless.png);
}

a:link {
	text-decoration: none;
	color: #999;
}

a:visited {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: none;
	color: #666;
	border-bottom: #666 dotted 1px;
}

a:active {
	text-decoration: none;
	color: #eee;
	border-bottom: #eee dotted 1px;
}

/* all other fonts:
font-family: arial, 'Helvetica Neue', helvetica, sans-serif; */

/*  teal color for headings and backgrounds
color: #4aaaa5; */

/* the entire content area is width: 960px; */

/*  main section content width: 650px; */

/*  sidebar width: 270px; */

header {
	padding: 0;
	background-color: #fff;
	border-bottom: #ccc solid 2px;
	/* height: 90px; */
	height: 5em; 
}


p {
	font-family: arial, 'Helvetica Neue', helvetica, sans-serif;
	/* margin-top: 8px; */
	margin-top: 0.44em;
	/* margin-bottom: 8px; */
	margin-bottom: 0.44em; 
}

.smaller-itals {
	display: block;
	font-size: 80%;
	font-style: italic;
}


/* +++++++++++++ INNER-HEADER container styles +++++++++++++++ */
/* this is a container holding the teal H1 on the left side of the header. */


/* converting to ems in this div breaks it! */
#inner-header {
	width: 960px;
	/* width: 53.33em */
	height: 90px;
	/* height: 5em; */
	padding-top: 25px;
	/* padding-top: 1.389em */
	margin: auto;
}

/* converting to ems in this h1 breaks it! */
#inner-header h1 {
	margin: 0;
	background-color: #4aaaa5;
	color: #fff;
	display: inline;
	height: 100%;
	font-size: 150%;
	padding: 36px; 
	/* padding: 2em; */
	padding-top: 36px;
	/* padding-top: 2em; */
}

/* +++++++++++++  NAV container styles +++++++++++++++ */
/* this is a container holding the three navigation links on the right side of the header. */

#nav {
	width: 290px;
	/* width: 16.11em; */
	height:90px;
	/* height: 5em; */
	float: right;
	margin-right: 0;
	padding-right: 0;
	text-align: right;
	color: #eee;
}

#nav a:link {
	margin-right: 12px;
	/* margin-right: 0.667em; */
	margin-left: 12px;
	/* margin-left: 0.667em; */
	text-decoration: none;
	color: #999;
}

#nav a:visited {
	margin-right: 12px;
	/* margin-right: 0.667em; */
	margin-left: 12px;
	/* margin-left: 0.667em; */
	text-decoration: none;
	color: #999;
}

#nav a:hover {
	margin-right: 12px;
	/* margin-right: 0.667em; */
	margin-left: 12px;
	/* margin-left: 0.667em; */
	text-decoration: none;
	color: #666;
	border-bottom: #666 dotted 1px;
}

#nav a:active {
	margin-right: 12px;
	/* margin-right: 0.667em; */
	margin-left: 12px;
	/* margin-left: 0.667em; */
	text-decoration: none;
	color: #eee;
	border-bottom: #eee dotted 1px;
}


#container {
	min-height: 100%;
	margin-bottom: 102px;
	/* margin-bottom: 5.667em; */
	width: 960px;
	/* width: 53.33em */
	margin: auto;
}

#container p {
	clear: both;
	display: inline;
	margin-bottom: 12px;
	/* margin-bottom: 0.667em; */
}



/* +++++++++++++  CONTENT styles +++++++++++++++ */


#content {
	max-width: 590px;
	/* max-width: 32.778em; */
	/* width is supposed to be 650px, but with the extra interior padding, we have to reduce that */
	background-color: #fff;
	padding: 30px;
	/* padding: 1.667em; */
	border: 1px solid #dcdcdc;
	margin-top: 38px;
	/* margin-top: 2.11em; */
	float: left;
	display: block;
}

#content h2 {
	color: #4aaaa5;
	border-bottom: 3px solid #dcdcdc;
	font-size: 150%;
	padding: 0 0 36px 0;
	/* padding: 0 0 2em 0; */
	margin-bottom: 30px;
	/* margin-bottom: 1.667em; */
}

#content p {
	display: inline; 
	line-height: 2;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 8px;
	/* margin-bottom: 0.44em; */
}

#content img {
	float: left;
	margin-right: 24px;
	/* margin-right: 1.33em; */
}

#content .interest {
	height: 204px;
	/* height: 11.33em; */
	width: 274px;
	/* width: 15.22em; */
	float: left;
	margin-right: 20px;
	/* margin-right: 1.11em; */
	margin-bottom: 56px;
	/* margin-bottom: 3.11em; */
	background-color: #000;
}

#content .interest img {
	position: relative;
	z-index: 1;
}

#content .interest h3 {
	height: 44px;
	/* height: 2.44em; */
	width: 274px;
	/* width: 15.22em; */
	display: block;
	background-color: #4aaaa5;
	color: #fff;
	font-size: 110%;
	text-align: center;
	padding-top: 16px;
	/* padding-top: 0.889em; */
	margin-top: 135px;
	/* margin-top: 7.5em; */
	position: absolute;
	z-index: 10;
}

/* ===========  #content .interest pseudoclasses  ==================  */

#content .interest h3 a:link {
	/* height: 204px; this is the ht of the .interest class */
	height: 44px;
	width: 274px;
	/* color: #ffffe5; lt cream */
	/* color: #ffc; cream */
	/* color: #c3e5e3;  lt teal - slightly dker */
	color: #d4eceb; /* lt teal */
	/* z-index: 11; */
}

#content .interest h3 a:visited {
	height: 44px;
	/* height: 2.44em; */
	width: 274px;
	/* width: 15.22em; */
	color: #d4eceb; /* lt teal */
}

#content .interest h3 a:hover {
	height: 44px;
	/* height: 2.44em; */
	width: 274px;
	/* width: 15.22em; */
	color: #e6e6e6;
	border-bottom: #e6e6e6 dotted 1px;
}

#content .interest h3 a:active {
	height: 44px;
	/* height: 2.44em; */
	width: 274px;
	/* width: 15.22em; */
	color: #fff;
	border-bottom: #fff dotted 1px;
}

/* ===========  END #content .interest pseudoclasses  ==================  */

#content form {
	font-family: arial, 'Helvetica Neue', helvetica, sans-serif;
	width: 80%;
}

#content label {
	font-family: arial, 'Helvetica Neue', helvetica, sans-serif;
	display: block;
	margin-bottom: 8px;
	/* margin-bottom: 0.444em; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	/* color: #dcdcdc; this is too light */
	/* color: #666; TOO dark */
	color: #c7c7c7;
	opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
	/* color: #dcdcdc; this is too light */
	/* color: #666; TOO dark */
	color: #c7c7c7;
}

::-ms-input-placeholder { /* Microsoft Edge */
  	/* color: #dcdcdc; this is too light */
	/* color: #666; TOO dark */
	color: #c7c7c7;
}

#content input {
	height: 36px;
	/* height: 2em; */
	width: 586px;
	/* width: 32.556em; */
	padding: 0 12px;
	/* padding: 0 0.667em; */
	margin-bottom: 12px;
	/* margin-bottom: 0.667em; */
	border: 1px solid #dcdcdc;
	font-family: arial, 'Helvetica Neue', helvetica, sans-serif;
	font-size: 80%;
	/* too light color: #dcdcdc; */
	/* color: #a2a9ae; */
	color: #999;
}

#content textarea {
	height: 36px;
	/* height: 2em; */
	width: 586px;
	/* width: 32.556em; */
	margin-bottom: 18px;
	/* margin-bottom:; 1em */
	border: 1px solid #dcdcdc;
	font-family: arial, 'Helvetica Neue', helvetica, sans-serif;
	/* too light color: #dcdcdc; */
	/* color: #a2a9ae; */
	color: #999;
}

#content input.send {
	width: 115px;
	/* width: 6.389em; */;
	height: 42px;
	/* height: 2.33em; */;
	margin: 0;
	background-color: #4aaaa5;
	color: #fff;
	font-size: 110%;
}



/* +++++++++++++  SIDEBAR styles +++++++++++++++ */


section#sidebar {
	max-width: 210px;
	/* width is supposed to be 270px, but with the extra interior padding, we have to reduce that */
	/* max-width: 11.667em; */
	float: right;
	background-color: #fff;
	padding: 30px;
	/* padding: 1.667em; */
	border: 1px solid #dcdcdc;
	margin-top: 14px;
	/* margin-top: 0.778em; */
}

section#sidebar h3 {
	color: #4aaaa5;
	border-bottom: 2px solid #dcdcdc;
	font-size: 110%;
	padding: 0 0 24px 0;
	/* padding: 0 0 1.333em 0; */
	margin-bottom: 24px;
	/* margin-bottom: 1.333em; */
	}


section#sidebar a {
	height: 62px;
	/* height: 3.44em; */
	width: 62px;
	/* width: 3.44em; */
	border: 0;
	list-style:none;
	margin:0;
	padding:0;
}

section#sidebar img {
	display: inline;
	width: 62px;
	/* width: 3.44em; */
	height: 62px;
	/* height: 3.44em; */
	border: 0;
	margin-right: 4px;
	/* margin-right: 0.222em; */
}

.push {
	clear: both;
	display:block;
	margin-bottom: 12px;
	/* margin-bottom: 0.667em */
}

.link-name {
	display: none;
}



/*  SIDEBAR button rollover effects  */

section#sidebar .github {
    width: 62px;
    /* width: 3.44em; */
    height: 62px;
    /* height: 3.44em; */
    background: url("../images/icon_github.png") no-repeat;
    display: inline-block;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .github:hover {
    background: url("../images/icon_github_over.png") no-repeat;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .github:active {
    background: url("../images/icon_github_active.png") no-repeat;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .linkedin {
    width: 62px;
    /* width: 3.44em; */
    height: 62px;
    /* height: 3.44em; */
    background: url("../images/icon_linkedin.png") no-repeat;
    display: inline-block;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .linkedin:hover {
    background: url("../images/icon_linkedin_over.png") no-repeat;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .linkedin:active {
    background: url("../images/icon_linkedin_active.png") no-repeat;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}


section#sidebar .stackov {
    width: 62px;
    /* width: 3.44em; */
    height: 62px;
    /* height: 3.44em; */
    background: url("../images/icon_stackov.png") no-repeat;
    display: inline-block;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .stackov:hover {
    background: url("../images/icon_stackov_over.png") no-repeat;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}

section#sidebar .stackov:active {
    background: url("../images/icon_stackov_active.png") no-repeat;
    margin-right: 4px;
    /* margin-right: 0.222em; */
}




/* section#sidebar .github a {
	background-image: url(../images/icon_github_over.png);
	width:62px;
	height:62px;
	border: 0;
}

section#sidebar .github img {
	width:62px;
	height:62px;
	border: 0;
	margin-right: 4px;
}

* html a:hover {
	visibility:hidden;
} 

section#sidebar .github a:hover img {
	visibility:hidden;
}

section#sidebar .github a:active img {
	visibility:hidden;
}
*/

/*
section#sidebar .linkedin {
	background-image: url(../images/icon_linkedin_over.png);
	width:62px;
	height:62px;
	border: 0;
}

section#sidebar .linkedin a:link img {
	visibility:visible;
}

section#sidebar .linkedin a:visited img {
	visibility:visible;
}

* html a:hover {
	visibility:hidden;
} 

section#sidebar .linkedin a:hover img {
	visibility:hidden;
}

section#sidebar .linked a:active img {
	visibility:hidden;
}

section#sidebar .stackov img {
	background-image: url(../images/icon_stackov_over.png);
	width:62px;
	height:62px;
	border: 0;
}

section#sidebar .stackov a:link img {
	visibility:visible;
}

section#sidebar .stackov a:visited img {
	visibility:visible;
}

* html a:hover {
	visibility:hidden;
} 

section#sidebar .stackov a:hover img {
	visibility:hidden;
}
section#sidebar .stackov a:active img {
	visibility:hidden;
}
*/

/* section#sidebar a:hover {
	border-bottom: 0;
}


section#sidebar .github a {
	background-image: url(../images/icon_github_over.png) no-repeat;
	width:62px;
	height:62px;
	border: 0;
}

section#sidebar .github img {
	width:62px;
	height:62px;
	border: 0;
}

* html a:hover {
	visibility:visible;
}

section#sidebar .github a:hover img {
	visibility:hidden;
}




#linkedin a {
	background-image: url(../images/icon_linkedin_over.png) no-repeat;
	width:62px;
	height:62px;
	border: 0;
}

#linkedin img {
	width:62px;
	height:62px;
	border: 0;
}

* html a:hover {
	visibility:visible;
}

#linkedin a:hover img {
	visibility:hidden;
}




#stackov a {
	background-image: url(../images/icon_stackov_over.png) no-repeat;
	width:62px;
	height:62px;
	border: 0;
}

#stackov img {
	width:62px;
	height:62px;
	border: 0;
}

* html a:hover {
	visibility:visible;
}

#stackov a:hover img {
	visibility:hidden;
}
*/






/*  check pseudos for last one in sequence to have no margin-right */


/* +++++++++++++  FOOTER styles +++++++++++++++ */

footer {
	clear: both;
	background-color: #666;
	text-align: center;
	font-size: small;
	border-top: #4aaaa5 8px solid;
	/* border-top: #4aaaa5 0.444em solid; */
	color: #c3cabe;
	width: 100%;
	height: 94px;
	/* height: 5.22em; */
	margin-bottom: 0;
	position: absolute;
	left: 0;
	bottom: 0;
}

footer p {
	font-family: arial, 'Helvetica Neue', helvetica, sans-serif;
	padding-top: 32px;
	/* padding-top: 1.778em; */
}

footer a:link {
	text-decoration: none;
	color: #c3cabe;
}

footer a:visited {
	background-color: #666;
	text-decoration: none;
	color: #c3cabe;
}

footer a:hover {
	background-color: #666;
	text-decoration: none;
	color: #c3cabe;
	border-bottom: #c3cabe dotted 1px;
}

footer a:active {
	background-color: #666;
	text-decoration: none;
	color: #eee;
	border-bottom: #eee dotted 1px;
}

/* ====================  MEDIA QUERIES ======================== */


/*  See about converting pixel values to relative (rem, em, %)  */

/* base font size is 18px, so 1em = 18px */


/* 972px is the first breakpoint ? */

/* 670px is where the contact div pops down */


/*  980px mimics width of screen desktop to help keep content from getting cut off  */
/* 980px = 54.444 em  */
@media screen and (max-width: 54.44em) {
	@-ms-viewport {
  		width: device-width;
	}

	body {
		/* this pops the footer to the top!
		position: relative;
		height: 100%;
		*/
	}
}



/* 768px mimics width of tablet */
/* 768px = 42.667em  */
@media screen and (max-width: 42.667em) {
	@-ms-viewport {
  		width: device-width;
	}

	#inner-header {
		width: 90%;
	}

	#inner-header h1 {
		width: 100%;
		text-align: center;
	}

	#nav {
		width: 100%;
		min-width: 16.11em;
		display: block;
		padding-right: 1.33em;
		text-align: center;
		float: none;
		margin: auto;
	} 

	#container {	
		width: 42.667em;
		width: 100%;
		max-width: 320px;
		padding: 1.286em 1.643em 0 1.643em;
		margin: 1em;
		margin-right: 0.5em;
		margin-left: 0.5em;
	}

	#content {
		margin-left: 5%;
	}

	section#sidebar {
		float: left;
		margin-left: 30%;
	}

}


/* 640px mimics width of phone in landscape */
/*    640px = 35.556em  */

@media screen and (max-width: 35.56em) {
	@-ms-viewport {
  		width: device-width;
	}
	header {
		position: static;
	}

	#inner-header {
		width: 35.56em;
	}

	#inner-header h1 {
		width: 100%;
		text-align: center;
	}

	#nav {
		width: 100%;
		min-width: 16.11em;
		display: block;
		padding-right: 0.667em;
		text-align: center;
		float: none;
		margin: auto;
	} 

	#container {	
		width: 35.56em;
		margin: 1em auto;
	}

	#content {
		max-width: 84%;
		margin-left: 3%;
	}

	section#sidebar {
		float: left;
		margin-left: 30%;
	}

}

/* Smartphones (portrait) ----------- */
/*  320px = 17.778em  */
@media only screen and (max-width : 17.778em) {

}




/* ====================  END styles ======================== */
